<div style="display: flex; margin-left: 200px;">

    
    <div style="margin-left: 200px;">
        <a href="/dash">home</a>
    </div>
    <div style="margin-left: 200px;">
        <a href="/a/serch">serch</a>
    </div>
    <div style="margin-left: 200px;">
        <a href="/a/profile">profile</a>
    </div>
    <div style="margin-left: 200px;">
        <a href="/logout">logout</a>
    </div>
    </div>
